* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
    background: #000;
    align-items: center;



}

.header-right {
    display: flex;
    align-items: center;
    gap: 51px;
}

@media only screen and (max-width: 768px) {
    .header-left {
        display: none;
    }
    header{
        padding: 1px 15px;
    }
    .logo{
        height: 60px;
        width: 160px;
    }
    .book-now{
        width: 90px;
        height: 80px;
    }
    .header-right{
        gap: 20px;
    }
    .menu-icon{
        width: 25px;
        height: 20px;
    }

}